* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
/* common style for all input[type="text"] and textarea */
input[type="text"],
textarea, button {
    outline: none;
    padding-left: 5px;
    padding-top: 3px;
    border: none;
}
body {
    display: grid;
    position: relative;
    grid-auto-rows: 1fr;
    width: 100dvw;
}
body.with_aside {
    grid-template: 1fr/2.3fr 5.5fr;
    gap: 30px;
    padding: 0 30px;
}

body.no_aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0 0 20px;
}

aside {
    width: 300px;
    position: fixed;
    background-color: #7b61ff0c;
    grid-column: 1/span 2;
    grid-row: 1/5;
    justify-items: center;
    box-shadow: 0 0 10px #7b61ff6f;
    z-index: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: hidden;
}

.fa-lg,
.edit_btn {
    color: #000000;
}

.hamburger_nav {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex: 0.5;
}

#username_form {
    display: none;
    gap: 4px;
}
#username_form > input[type="text"],
 #username_form>button{
    background: none;
    height: 2em;
    border-radius: 3px;
}
#username_form>input[type="text"] {
    border-bottom: 3px solid #7B61FF;
}
#username_form>button {
    background-color: #C3B1E1;
    width: fit-content;
    padding:3px;
}
.button_background {
    background-color: #7b61ff;
    padding: 6px 0;
    width: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.button_background.hide {
    background: none;
    &:hover {
        background-color: #2e2e2e68;
    }
}
.button_background.show {
    display: none;
    width: 60px;
    grid-column: 1/2;
    grid-row: 1/1;
    height: 40px;
    place-content: center;
    position: sticky;
    top: 5%;
    z-index: 999;
}


aside h2 {
    font-size: 0.9rem;
}

aside p {
    font-size: 0.97rem;
}
aside p span {
    color: #7B61FF;
    font-size: 1.2rem;
    font-weight: bold;
}
.priorities {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 3;
    button {
        text-align: left;
        height: 3rem;
        padding-left: 10px;
    }
}
.priorities>button:nth-child(2) {
    background-color: #C3B1E1;
    border: none;
    &:hover {
        background-color: #b29ed7;
    }
}
.priorities>button:nth-child(3) {
    background-color: #E0E0E0;
    border: none;
    &:hover {
        background-color: #d4d4d4;
    }
}
.priorities>button:nth-child(4) {
    background-color: #F4F4F4;
    border: none;
    &:hover {
        background-color: #eaeaea;
    }
}
.priorities>button {
    border-radius: 10px;
    font-size: 1.1rem;
}
.sort_todo_by_date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2.5;
    margin-top: 20px;
    button {
        text-align: left;
        height: 2rem;
        background: none;
        border: none;
        outline: none;
        padding-left: 10px;
        border-radius: 4px;
        font-size: 1.2rem;
        &:hover {
            background-color: #2e2e2e68;
        }
    }
    
}
.Add_new_project {
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    background: none;
}
#pop_up_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #7b61ff59;
    height: fit-content;
    padding: 20px 5px;
    position: relative;
    border-radius: 9.5px;
}
#pop_up_form > .cancelForm {
position: absolute;
top: 0;
right: 0%;
border: none;
cursor: pointer;
}

#pop_up_form > input,
#pop_up_form> button {
    width: 80%;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 3px;
}
#pop_up_form>button {
    padding: 3px 0;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    z-index: 1;
}
.project_container {
    flex: 12;
    display: flex;
    gap: 20px;
    flex-direction: column;
    z-index: 100;
    overflow: auto;
}

.project_container>.projects>div {
    height: 2em;
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #7d63ff2b;
    border-left: 5px solid #7B61FF;
    border-radius: 5px;
    gap: 10px;
    &:hover {
        background-color: #8080804b;
    }
}

.project_container>.projects>div>.project_wrap {
    flex: 2.5;
}
.project_container>.projects>div>.project_wrap>button {
    background: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    text-align: left;
}
.project_container>.projects>div>#project_delBTN_container>.delete_project-btn{
    cursor: pointer;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    padding-bottom: 30px;
}
main.with_aside {
    grid-column: 2/-1;
    grid-row: 1/5;
}
.tasks {
    flex: 5;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    padding-top: 40px;
}

.tasks.empty {
    justify-content: center;
    align-items: center;
    height: 90dvh;
}
#no_task_message {
    position: fixed;
    top: 25%;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#no_task_message > img {
    width: 250px;
    height: auto;
}

#no_task_message > #message_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20%;
    height: fit-content;
}
#no_task_message > #message_wrapper >p,
#no_task_message>#message_wrapper>span {
    font-size: 1.5rem;
    font-style: italic;
    white-space: nowrap;
}

#no_task_message>#message_wrapper>span,
#no_task_message>#message_wrapper>p > span {
    color: #7B61FF;
}

.tasks > .tasks_items {
    display: flex;
    gap: 20px;
    max-width: 700px;
    width: 100%;
}

.tasks_items.completed {
    background-color: #5ea77c50;
    opacity: 0.5;
    border-color: #000;
}

.tasks > div {
    background-color: #7b61ff38;
    height: fit-content;
    padding: 20px 0;
    padding-left: 20px;
    border-left: 5px solid #7B61FF;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tasks > div > :nth-child(1) {
    flex: 0.2;
    height: 20px;
    width: 20px;
}
.tasks_items.completed {
    background-color: #5ea77c50;
    opacity: 0.5;
    border-color: #000;
}
.tasks_items.completed > .tasks_info > :nth-child(1) {
    text-decoration: line-through;
}
.tasks>div> :nth-child(1):checked {
    accent-color: #000;
}
.tasks>div> :nth-child(2) {
    flex: 3.4;
}
.tasks>div> :nth-child(2) > :nth-child(1) {
    font-weight: bold;
    font-size: large;
    font-style: normal;
    font-family: system-ui, -apple-system,
     BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
       sans-serif;
}
.tasks>div> :nth-child(2)> :nth-child(2) {
    max-width: 35ch;
}
.tasks>div> :nth-child(3) {
    /* justify-self: flex-end; */
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasks>div> :nth-child(3)> :nth-child(1) {
    cursor: pointer;
}

.tasks>div> :nth-child(3) > :nth-child(2) {
    height: 2em;
    border: none;
    cursor: unset;
}

.tasks>div> :nth-child(3)> :nth-child(2).High {
    background-color: #C3B1E1;
}

.tasks>div> :nth-child(3)> :nth-child(2).Medium {
    background-color: #E0E0E0;
}

.tasks>div> :nth-child(3)> :nth-child(2).Low {
    background-color: #F4F4F4;
}

.tasks>div.with_aside {
    width: 90%;
}

.tasks>div.no_aside {
    width: 70%;
}

.tasks_items > .tasks_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.fa-2xl.add_task {
    color: #7B61FF;
    cursor: pointer;
    position: fixed;
    top: 80%;
    right: 15%;
    z-index: 1000;
}

main #new_task_form_container {
    width: 300px;
    height: fit-content;
    padding: 10px 0;
    position: fixed;
    top: 20%;
    z-index: 2000;
    background-color: #7b61ff7e;
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

main #new_task_form_container #new_task_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
    justify-content: center;
}
main #new_task_form label {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1.3rem;
}
#new_task_form input,
#new_task_form button,
#new_task_form select {
    height: 2em;
}
#new_task_form select {
    padding-left: 4px;
}
#new_task_form textarea#task_description {
    height: 60px;
    /* width: 80%; */
    resize: none;
}
#new_task_form_container > .cancelForm {
    cursor: pointer;
    position: absolute;
    top: 3%;
    left: 90%;
}
/* All buttons and icons */
button, .edit_btn,
 .hide_aside, .editTask_btn,
 input[type="checkbox"], .delete_project-btn {
    cursor: pointer;
}

@media(max-width: 870px) {
    body.with_aside {
        grid-template: 1fr/1.5fr 2.5fr;
    }
}

@media(max-width: 760px) {
    body {
        display: flex;
        flex-direction: column;
    }
    body.no_aside {
        padding: 10px 0 20px 0;
    }
    body.with_aside {
        padding: 0 0 20px 0;
    }
    aside {
        width: 100%;
        height: 100dvh;
        position: relative;
        overflow: scroll;
        display: none;
    }
    main {
        display: flex;
        place-self: center;
        width: 100%;
    }
    .button_background.show {
        display: block;
        margin-left: 10PX;
    }
    .tasks {
        width: 100%;
    }
    .tasks.no_aside {
        width: 100%;
    }
    #no_task_message>#message_wrapper{
        bottom: 27%;
    }
    #no_task_message>#message_wrapper>p,
    #no_task_message>#message_wrapper>span {
    font-size: 1rem;
    text-align: center;
    }
}