* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
body {
    display: grid;
    position: relative;
    grid-auto-rows: 1fr;
    width: 100dvw;
    /* height: 100dvh; */
}
body.with_aside {
    grid-template: 1fr/1.4fr 5.2fr;
    gap: 30px;
    padding: 0 30px;
}

body.no_aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0 0 20px;
}

aside {
    width: 300px;
    position: fixed;
    background-color: #7b61ff0c;
    grid-column: 1/span 2;
    grid-row: 1/5;
    justify-items: center;
    box-shadow: 0 0 10px #7b61ff6f;
    z-index: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: hidden;
    /* display: none; */
}

.fa-lg,
.edit_btn {
    color: #000000;
}

.hamburger_nav {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    flex: 0.5;
}
/* .hamburger_nav .fa-lg:hover {
        background-color: #2e2e2e68;
        padding: 3px 10px;
        border-radius: 4px;
    } */

#username_form {
    display: none;
}
.button_background {
    background-color: #7b61ff;
    padding: 6px 0;
    width: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.button_background.hide {
    background: none;
    &:hover {
        background-color: #2e2e2e68;
    }
}
.button_background.show {
    display: none;
    /* display: block; */
    width: 60px;
    grid-column: 1/2;
    grid-row: 1/1;
    height: 40px;
    place-content: center;
    position: sticky;
    top: 5%;
    z-index: 999;
}


aside h2 {
    font-size: 0.9rem;
}

aside p {
    font-size: 0.97rem;
}
aside p span {
    color: #7B61FF;
    font-size: 1.2rem;
    font-weight: bold;
}
.priorities {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 3;
    button {
        text-align: left;
        height: 3rem;
        padding-left: 10px;
    }
}
.priorities>button:nth-child(2) {
    background-color: #C3B1E1;
    border: none;
    &:hover {
        background-color: #b29ed7;
    }
}
.priorities>button:nth-child(3) {
    background-color: #E0E0E0;
    border: none;
    &:hover {
        background-color: #d4d4d4;
    }
}
.priorities>button:nth-child(4) {
    background-color: #F4F4F4;
    border: none;
    &:hover {
        background-color: #eaeaea;
    }
}
.priorities>button {
    border-radius: 10px;
    font-size: 1.1rem;
}
.sort_todo_by_date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2.5;
    margin-top: 20px;
    button {
        text-align: left;
        height: 2rem;
        background: none;
        border: none;
        outline: none;
        padding-left: 10px;
        border-radius: 4px;
        font-size: 1.2rem;
        &:hover {
            background-color: #2e2e2e68;
        }
    }
    
}
.Add_new_project {
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    background: none;
}
#pop_up_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: scroll;
    z-index: 1;
}
.project_container {
    flex: 12;
    display: flex;
    gap: 20px;
    flex-direction: column;
    z-index: 100;
    overflow: auto;
}

.project_container>.projects>div {
    height: 2em;
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #7d63ff2b;
    border-left: 5px solid #7B61FF;
    border-radius: 5px;
    gap: 10px;
    &:hover {
        background-color: #8080804b;
    }
}

.project_container>.projects>div>.project_wrap {
    flex: 2.5;
}
.project_container>.projects>div>.project_wrap>button {
    background: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    text-align: left;
}
.project_container>.projects>div>#project_delBTN_container>.delete_project-btn{
    cursor: pointer;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    z-index: 1;
    overflow: auto;
    padding-bottom: 30px;
}
main.with_aside {
    /* background-color: #7B61FF; */
    grid-column: 2/-1;
    grid-row: 1/5;
}
/* main.no_aside {
} */
.tasks {
    flex: 5;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.tasks.empty {
    justify-content: center;
    align-items: center;
    height: 90dvh;
}
#no_task_message {
    position: fixed;
    top: 25%;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#no_task_message > img {
    width: 250px;
    height: auto;
    /* position: fixed; */
    /* bottom: 35%; */
}

#no_task_message > #message_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20%;
    height: fit-content;
}
#no_task_message > #message_wrapper >p,
#no_task_message>#message_wrapper>span {
    /* position: absolute;
    bottom: 30%; */
    font-size: 1.5rem;
    font-style: italic;
    white-space: nowrap;
    /* font-weight: bold; */
}

#no_task_message>#message_wrapper>span,
#no_task_message>#message_wrapper>p > span {
    color: #7B61FF;
}

.tasks > .tasks_items {
    display: flex;
    gap: 20px;
}

.tasks_items > input[type="checkbox"] {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.tasks > div {
    background-color: #7b61ff38;
    height: fit-content;
    padding: 20px 0;
    padding-left: 20px;
    border-left: 5px solid #7B61FF;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.tasks>div.with_aside {
    width: 90%;
}

.tasks>div.no_aside {
    width: 70%;
}

.tasks_items > .tasks_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.fa-2xl.add_task {
    color: #7B61FF;
    cursor: pointer;
    position: fixed;
    top: 80%;
    right: 15%;
    z-index: 1000;
}

main #new_task_form_container {
    width: 300px;
    height: fit-content;
    padding: 10px 0;
    position: fixed;
    top: 20%;
    z-index: 2000;
    background-color: #7b61ff7e;
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

main #new_task_form_container #new_task_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
    justify-content: center;
    input {
        padding-left: 10px;
        outline: none;
        border: none;
    }
}
main #new_task_form label {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 1.3rem;
}
#new_task_form input,
#new_task_form button,
#new_task_form select {
    height: 2em;
}

/* All buttons and icons */
button, .edit_btn, .hide_aside {
    cursor: pointer;
}

@media(max-width: 870px) {
    
}

@media(max-width: 760px) {
    body {
        display: flex;
        flex-direction: column;
        /* height: 100dvh; */
    }
    body.no_aside {
        padding: 10px 0 20px 0;
    }
    body.with_aside {
        padding: 0 0 20px 0;
    }
    aside {
        width: 100%;
        height: 100dvh;
        position: relative;
        /* padding-bottom: 20px; */
        overflow: scroll;
        display: none;
    }
    main {
        display: flex;
        place-self: center;
        width: 100%;
    }
    .button_background.show {
        display: block;
        margin-left: 10PX;
    }
    .tasks {
        width: 100%;
    }
    .tasks.no_aside {
        width: 100%;
    }
    #no_task_message>#message_wrapper{
        bottom: 27%;
    }
    #no_task_message>#message_wrapper>p,
    #no_task_message>#message_wrapper>span {
    font-size: 1rem;
    /* max-width: 20ch; */
    text-align: center;
    /* white-space: unset; */
    }
}